@{
  Layout = "_Layout";
}

<div class="container">
<h1>Department</h1>
<h2>Add new department</h2>
<hr />
<form action="/departments" method="post">
  <label for="department-name">Department name:</label>
  <input id="department-name" name="department-name" type="text">
  <button type="submit">Add</button>
</form>

</div>
