@{
  Layout = "_Layout";
}

<h1>Welcome University Registrar!</h1>
<div class="card bg-faded card-block mb-3 p-3">
 <p>Enter Students or Courses</p>
</div>
<a href="/students" class="btn btn-info">Students</a>
<br>
<br>
<a href="/courses" class="btn btn-info">Courses</a>
<br>
<br>
<a href="/departments" class="btn btn-info">Departments</a>
