@{
  Layout = "_Layout";
}
<div class="card bg-faded card-block mb-3 p-3">
<h2 id="welcome">Welcome to University Registrar's Office</h2>
</div>
<div class="container">
<h2>Enter Students or Courses below:</h2>
<a href="/students" class="btn btn-info">Students</a>
<br>
<br>
<a href="/courses" class="btn btn-info">Courses</a>
<br>
<br>
<a href="/departments" class="btn btn-info">Departments</a>
<br>
<br>
<section>
<img src="~/img/campus.jpg" class="slides">
<img src="~/img/book.jpg" class="slides">
<img src="~/img/library.jpg" class="slides">
</section>
</div>
