@{
  Layout = "_Layout";
}

<div class="container">
<h1>Courses</h1>
<hr />
<h2>Edit course: @Model.GetName()</h2>
<form action="/courses/@Model.GetId()/update" method="post">
  <label for="new-course-name">Name:</label>
  <input id="new-course-name" type="text" name="new-course-name" value="@Model.GetName()">
  <label for="new-course-number">Course Number:</label>
  <input id="new-course-number" type="text" name="new-course-number" value="@Model.GetName()">
  <button type="submit">Update</button>
</form>

</div>
